@model StockManagement.Models.tblProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.purchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchasePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.salesPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salesPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblProductCategory.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProductCategory.categoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
