@model StockManagement.Models.tblProductCategory

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-md-12">
        <div class="box box-info box-solid">
            <div class="box-header with-border">
                <h3 class="box-title" style="text-align:center">
                    <span style="clear:both;">
                        <b>
                            Product Category : Edit
                        </b>
                    </span>
                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.categoryID)
                        <div class="form-group">
                            <label>Category Name</label>
                            @Html.EditorFor(model => model.categoryName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.categoryName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-2">
                        <a class="form-group btn btn-danger btn-block fa fa-arrow-circle-left" href="/ProductCategories/Index"><span> Back</span></a>
                    </div>
                    <div class="col-md-6">
                    </div>
                    <div class="form-group col-lg-4 col-md-4">
                        <button class="btn btn-primary btn-block" value="Save" type="submit">
                            <i class="fa fa-plus"></i>
                            <span>Update Category</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
