@model StockManagement.Models.tblSale

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblSale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.netTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.netTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transactionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transactionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.invoiceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.invoiceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblCustomer.customerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCustomer.customerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblProduct.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProduct.productName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
